<html>
<head>
<title> Tools</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div>
		<h1 class="card-title">Instruments</h1>
  </div>
	{% block content %}
	<div>
		<h3>Name of Surgery</h3>
		{{name}}
	</div>
	 <div>
		 <h3>Missing Instruments</h3>
		 {{missing}}
	 </div>
	 <div>
		 <h3>Wrong Instruments</h3>
		 {{wrong}}
	 </div>
	 <div>
    <img src="{{ detected_classes_image }}" alt="detected instruments" width="500" height="600">
	</div>
	{% endblock content %}


</body>
